<br><% if @potin.save %>
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Bravo</h4>
  Votre potin a ete cree avec succes! 
  </ul>
  <hr>
  <p class="mb-0">Merci de votre mechancete, continuez a vous lacher sur vos collegues !</p>
</div>
<% end %>