<div class='d-flex-column justify-content-center align-items-center'>
<br><br>
<center><h2>C'est quoi ton nom ?!</h2><br>

	<form action='/' method='POST'>
		<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
		Balance ton blase : <input type='text' name='blase'/> <input type='submit' value='Envoyer'/>
	</form> </center>
<br><br><br><br><br><br><br>
</div>